/* your styles go here */

	  .s-input, .s-select {
        display: block;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #ccc;
    }
    .s-select {
        background-color: #f3f3f3;
    }
    .select-field {
        background-color: transparent;
        color: #979797;
    }
    .text-field-2 {
        margin-right: 2px;
    }