
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
.hidden-xs {
    display: none !important;
}
}
@media (max-device-width: 480px) {
	
.main-menu{ display:none !important;}	
.mobile_menu {display:block !important;}
.button-coffee {display:block !important;}
.popup-image {display:none !important;}
.popup-content {display:none !important;}



.slide{display:block !important}
.button-coffee{float:left !important; text-align:center !important;}
.sticky-popup-right, .sticky-popup-left { top: 37%!important; display:none!important;}
.sticky-popup{display:none!important;}
.nodal { z-index: 999999999!important;}
.nodal__inner {height:63% !important;}
.wpcf7-text {width:96% !important;}
.wpcf7-form p { margin: 6px 0 0 0 !important;}
.wpcf7-form wpcf7-form-control { margin: 6px 0 0 0 !important;}
.test-con-1 { font-size: 13px !important;line-height:18px !important;margin: 13px 0 0 -35px !important; width: 50% !important;}
blockquote img {border: 2px solid #005ba4 !important;height: 100% !important;margin: 0 !important;width: 100% !important;}
.name-testimonial {margin:-11px 7px -50px 31px !important;}
.testimonial {  background-size: cover !important;}
.test-con1 {margin: 0 0 0 112px !important;}
.my-gov-img { float:none !important;}
.branch-img img { width:100% !important;}
.box-height {float: left;min-height: auto !important;}
.textwidget a {display: inline-block!important; margin: 0 -1px !important;}
.contact-text { text-align:center !important;}
.offset-3 {margin-left:0px !important;}
.wpcf7-text { width:100% !important;}
.navbar-nav {margin:8px 0 0 0 !important;}
.nodal .wpcf7-form p { float:left !important;}
.positive-tabs ul li { margin:2px 34px 0 !important;border-right: 1px solid !important; width: 87% !important;font-size: 11px !important;}
.pdfbox { width:100% !important;}
.fancybox { width:100% !important;}
.pdfboxtitle { width:100% !important; text-align:center !important;}
.seprator-australia img { width:100% !important;}
.list-1 {width:auto !important;}
.contact-line {width:100% !important;}
.australia-box-heading span::after {position: absolute !important;content:none !important;}
.popup-content input, textarea, select {max-width: 100% !important;}
.wpcf7-submit {margin: 1px 31px 1px 17px !important;}
.portfolioFilter a {display:block !important;}
.positive-tabs ul li {float:left !important;}
.fancybox img { width:100% !important;}
.date-visa {width: 32% !important;}
.portfolioFilter a {padding: 0 15px!important; fon-size:11px !important;}
.button-coffee { padding:0 !important;}
.scroll { bottom: 73px !important;}
.scroll { bottom: 66px !important; margin: 0 -11px 0 0 !important;}
.contact-info-heading-2 {margin:0 !important; }
.testimonials-box-text { height:auto !important;}
.sticky-popup-right, .sticky-popup-left {display:none!important;}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
}
.bx-wrapper .bx-pager {
    margin: -12px 0 46px 70px !important;
}
.top-list {
    margin: 10px 0px 0 -27px !important;
    text-align: center !important;
    width: 100% !important;
}
.number {
    margin: -48px -7px 0 0 !important;
}

.navbar-toggle {
    display: block !important;
}
.menu-item-262 {
    margin: -13px 15px 0 !important;
}
.number {
    font-size: 14px !important;
}
.fa-top {
    padding: 10px 0 0 3px !important;
}
.button-1 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-1 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.button-2 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-2 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.button-3 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-3 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.navbar-nav > li {
    width: 100% !important;
}
.footer-img2 {
    float: none !important;
    margin: 0 !important;
    text-align: center !important;
}
.top-list ul li {
    margin:2px !important;
}
.top-list ul li a {
    padding: 2px 5px !important;
}
.textwidget {
    text-align: center !important;
    width: 100% !important;
}
.textwidget  {
    text-align: center !important;
    width: 100% !important;
}
.read a {
    margin: -28px 33px 15px !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -109px !important;
}

.circle { display: block !important;
    height: 38px !important;
    margin: 14px 2px !important;
    padding-top: 10px !important;
    width: 38px !important;}

.top-icon {float: left !important;}
.logo {text-align: center !important;width: 100% !important;  margin: 35px 0 21px 0px !important;}



/***mega menu css start here ***/
#mega-menu-item-5668
{background-color:#ed850c !important;}

#mega-menu-item-5712
{background-color:#ac0202 !important;}

#mega-menu-item-5740
{background-color:#009ad7 !important;}

#mega-menu-item-5747
{background-color:#e1023a !important;}

#mega-menu-item-5751
{background-color:#6ca100 !important;}

#mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:focus
{background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; }




/***mega menu css end here ***/




}


@media screen and (max-width: 640px) and (orientation: landscape) {
	
.main-menu{ display:none !important;}	
.mobile_menu {display:block !important;}
.button-coffee {display:block !important;}
.popup-image {display:none !important;}
.popup-content {display:none !important;}



.slide{display:block !important}
.button-coffee{float:left !important; text-align:center !important;}
.sticky-popup-right, .sticky-popup-left { top: 37%!important; display:none!important;}
.nodal { z-index: 999999999!important;}
.nodal__inner {height:63% !important;}
.wpcf7-text {width:96% !important;}
.wpcf7-form p { margin: 6px 0 0 0 !important;}
.wpcf7-form wpcf7-form-control { margin: 6px 0 0 0 !important;}
.test-con-1 { font-size: 13px !important;line-height:18px !important;margin: 13px 0 0 -35px !important; width: 50% !important;}
blockquote img {border: 2px solid #005ba4 !important;height: 100% !important;margin: 0 !important;width: 100% !important;}
.name-testimonial {margin:-11px 7px -50px 31px !important;}
.testimonial {  background-size: cover !important;}
.test-con1 {margin: 0 0 0 112px !important;}
.my-gov-img { float:none !important;}
.branch-img img { width:100% !important;}
.box-height {float: left;min-height: auto !important;}
.textwidget a {display: inline-block!important; margin: 0 -1px !important;}
.contact-text { text-align:center !important;}
.offset-3 {margin-left:0px !important;}
.wpcf7-text { width:100% !important;}
.navbar-nav {margin: 2px 0 0 0 !important;}
.nodal .wpcf7-form p { float:left !important;}
.positive-tabs ul li { margin:2px 34px 0 !important;border-right: 1px solid !important; width: 85% !important; font-size:12px !important; text-align:center !important;}
.pdfbox { width:100% !important;}
.fancybox { width:100% !important;}
.pdfboxtitle { width:100% !important; text-align:center !important;}
.seprator-australia img { width:100% !important;}
.list-1 {width:auto !important;}
.contact-line {width:100% !important;}
.australia-box-heading span::after {position: absolute !important;content:none !important;}
.popup-content input, textarea, select {max-width: 100% !important;}
.wpcf7-submit {margin:0 31px -22px 17px !important;}
.portfolioFilter a {display:block !important;}
.positive-tabs ul li {float:left !important;}
.fancybox img { width:100% !important;}
.date-visa {width: 32% !important;}
.portfolioFilter a {padding: 0 15px!important; fon-size:11px !important;}
.button-coffee { padding:0 !important;}
.scroll { bottom: 66px !important; margin: 0 -11px 0 0 !important;}
.sticky-popup{display:none!important;}
.sticky-popup-right, .sticky-popup-left {display:none!important;}


.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
}
.bx-wrapper .bx-pager {
    margin: -12px 0 46px 70px !important;
}
.top-list {
    margin: 10px 0px 0 -27px !important;
    text-align: center !important;
    width: 100% !important;
}
.number {
    margin: -48px -7px 0 0 !important;
}

.navbar-toggle {
    display: block !important;
}
.menu-item-262 {
    margin: -13px 15px 0 !important;
}
.number {
    font-size: 14px !important;
}
.fa-top {
    padding: 10px 0 0 3px !important;
}
.button-1 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-1 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.button-2 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-2 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.button-3 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-3 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.navbar-nav > li {
    width: 100% !important;
}
.footer-img2 {
    float: none !important;
    margin: 0 !important;
    text-align: center !important;
}
.top-list ul li {
    margin:2px !important;
}
.top-list ul li a {
    padding: 2px 5px !important;
}
.textwidget {
    text-align: center !important;
    width: 100% !important;
}
.textwidget  {
    text-align: center !important;
    width: 100% !important;
}
.read a {
    margin: -28px 33px 15px !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -109px !important;
}

.circle { display: block !important;
    height: 38px !important;
    margin: 14px 2px !important;
    padding-top: 10px !important;
    width: 38px !important;}

.top-icon {float: left !important;}
.logo {text-align: center !important;width: 100% !important;  margin: 35px 0 21px 0px !important;}



/***mega menu css start here ***/
#mega-menu-item-5668
{background-color:#ed850c !important;}

#mega-menu-item-5712
{background-color:#ac0202 !important;}

#mega-menu-item-5740
{background-color:#009ad7 !important;}

#mega-menu-item-5747
{background-color:#e1023a !important;}

#mega-menu-item-5751
{background-color:#6ca100 !important;}

#mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:focus
{background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; }


#mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link

/***mega menu css end here ***/


	
}


@media screen and (max-width: 768px) {
	
  .nodal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
