
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
.hidden-xs {
    display: none !important;
}
} 

/** @media only screen and (min-width : 320px){
.sticky-popup-right, .sticky-popup-left { display:none!important;}
}  **/

/** @media (min-width : 320px){ .sticky-popup-right, .sticky-popup-left { display:none!important;}}  **/
  
 
@media (max-width: 480px) {
 .info-box-title{width:100%; text-align: center;}   
}

@media (max-width: 480px) {
.wpcf7-submit{width:100%!important;}
  .kamal-channi{position: absolute;
    bottom: -13px;
    left: 33%;
    font-size: 9.5px;}
  .footer-img a img {
    margin-top: -14px;
    margin-bottom: 9px;}  
.pune-map-page iframe{width:100%!important;}   
.what-do {padding: 15px;}
.main-menu{ display:none !important;}
.main-menu-1{ display:none !important;}
.mobile_menu {display:block !important;}
.mobile_menu-1{display:block !important;} 
.top-main-menu-1{ display:none !important;}
.top-mobile_menu-1{ display:block !important;}
.top-mobile_menu-1{ text-align:center;}
.top-mobile_menu-1 ul{ background:none !important;}
.top-mobile_menu-1 ul{display:inline-block;list-style-type:none;margin:0;padding:0;}
.top-mobile_menu-1 ul li{ display:inline-block; position:relative;}
.top-mobile_menu-1 ul li:last-child{border:medium none;} 
.top-mobile_menu-1 ul li a{background:#007aad;color:#fff;padding:2px 8px;text-decoration:none;font-family:"Open Sans",sans-serif;font-size:11px;font-weight:600;line-height:14px;text-transform:uppercase;}
.top-mobile_menu-1 ul li a:hover{background-color:#6ca300;color:#fff;}
.top-mobile_menu-1 ul{display:-moz-inline-box;list-style-type:none;margin:0;padding:0;}
.top-mobile_menu-1 ul .menu-item:hover>.sub-menu{    display: block;}
.top-mobile_menu-1 ul.sub-menu{
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
text-align: left;
background-color: #6ca100;
} 
.top-mobile_menu-1 ul.sub-menu{
    right: inherit;
    left: auto;
}
.top-mobile_menu-1 ul.sub-menu li{float:left;width: 100%;background: #6ca100;}
.top-mobile_menu-1 ul.sub-menu li:hover{ background:#007aad;}
.top-mobile_menu-1 ul.sub-menu li a{background:none;color:#fff;font-family:"Open Sans",sans-serif;font-size:10px;text-decoration:none;font-weight:500;margin:0;padding:10px 5px;line-height: 30px;}




.button-coffee {display:block !important;}
.popup-image {display:none !important;}
.popup-content {display:none !important;}

.mobile_menu-1

.slide{display:block !important; height:auto !important;}
.button-coffee{float:left !important; text-align:center !important;}
.sticky-popup-right, .sticky-popup-left { top: 37%!important; display:none!important;}
.sticky-popup{display:none!important;}
.nodal { z-index: 999999999!important;}
.nodal__inner {height:63% !important;}
.wpcf7-text {width:96% !important;}
.wpcf7-form p { margin: 6px 0 0 0 !important;}
.wpcf7-form wpcf7-form-control { margin: 6px 0 0 0 !important;}
.test-con-1 { font-size: 13px !important;line-height:18px !important;margin: 13px 0 0 -35px !important; width: 50% !important;}
blockquote img {border: 2px solid #005ba4 !important;height: 100% !important;margin: 0 !important;width: 100% !important;}
.menu-main-menu nav.ul li a{ width:100%;}

.test1-con-1 { font-size: 12px !important;line-height:18px !important;margin: 13px 0 0 -0px !important; width: 100% !important;}
.name-testimonial img {border: 2px solid #005ba4 !important;height:69% !important;margin: 0 !important;width:69% !important;}

.name-testimonial {margin:-11px 7px -50px 31px !important;}
.testimonial {  background-size: cover !important;}
.test-con1 {margin: 0 0 0 112px !important;}
.test1-con1 {margin: 0 0 0 112px !important;}
.my-gov-img { float:none !important;}
.branch-img img { width:100% !important;}
.box-height {float: left;min-height: auto !important;}
.textwidget a {display: inline-block!important; margin: 0 -1px !important;}
.contact-text { text-align:center !important;}
.offset-3 {margin-left:0px !important;}
.wpcf7-text { width:100% !important;}
.navbar-nav {margin:8px 0 0 0 !important;}
.nodal .wpcf7-form p { float:left !important;}
.positive-tabs ul li { margin:2px 0px 0 !important;border-right: 1px solid !important; width: 100% !important;font-size: 11px !important;}
.pdfbox { width:100% !important;}
.fancybox { width:100% !important;}
.pdfboxtitle { width:100% !important; text-align:center !important;}
.seprator-australia img { width:100% !important;}
.list-1 {width: 100% !important; text-align:center; padding: 0 10px;}
.contact-line {width:100% !important;}
.australia-box-heading span::after {position: absolute !important;content:none !important;}
.popup-content input, textarea, select {max-width: 100% !important;}
.wpcf7-submit {margin: 1px 79px 1px 17px !important;}
.portfolioFilter a {display:block !important;}
.positive-tabs ul li {float:left !important;}
.fancybox img { width:100% !important;}
.date-visa {width: 32% !important;}
.portfolioFilter a {font-size: 15px !important;padding: 11px 15px !important}
.button-coffee { padding:0 !important;}
.scroll { bottom: 73px !important;}
.scroll { bottom: 66px !important; margin: 0 -11px 0 0 !important;}
.contact-info-heading-2 {margin:0 !important; }
.testimonials-box-text { height:auto !important;}
.sticky-popup-right, .sticky-popup-left {display:none!important;}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
}
.bx-wrapper .bx-pager {margin: -12px 0 46px 70px !important;}
.top-list {margin:5px auto !important; float: none;display: inline-block;stext-align: center !important;}
/*.number {margin: -48px -7px 0 0 !important;}
*/
.header-top{ height:auto;}
.navbar-toggle {display: block !important;}
.menu-item-262 {margin: -13px 15px 0 !important;}
.number {font-size: 18px !important;text-align: center; float: none; padding:15px 0;}
.fa-top {padding: 10px 0 0 3px !important;}
.button-1 {margin: 0 0 15px -20px !important;width: 100% !important;}
.button-1 a {float: left !important;text-align: center !important;width: 100% !important;}
.button-2 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-2 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.button-3 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-3 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.navbar-nav > li {
    width: 100% !important;
}
.footer-img2 {
    float: none !important;
    margin: 0 !important;
    text-align: center !important;
}
.top-list ul li {
    margin:1px !important;
}
.top-list ul li a {
    padding: 2px 5px !important;
}
.textwidget {
    text-align: center !important;
    width: 100% !important;
}
.textwidget  {
    text-align: center !important;
    width: 100% !important;
}
.read a {
    font-size: 12px;
    margin: -18px 10px 14px !important;
    padding: 5px;

    /*margin: -28px 33px 15px !important;*/
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -109px !important;
}

.circle { display: block !important;
    height: 38px !important;
    margin: 14px 2px !important;
    padding-top: 10px !important;
    width: 38px !important;}

.top-icon {float:none; margin:0; padding:10px 0;}
.logo {text-align: center !important;width: 100% !important;  margin: 35px 0 21px 0px !important;}



/***mega menu css start here ***/
#mega-menu-item-5668
{background-color:#ed850c !important;}

#mega-menu-item-5712
{background-color:#ac0202 !important;}

#mega-menu-item-5740
{background-color:#009ad7 !important;}

#mega-menu-item-5747
{background-color:#e1023a !important;}

#mega-menu-item-5751
{background-color:#6ca100 !important;}

#mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:focus
{background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; }


/***mega menu css end here ***/

.navbar-brand { display:block !important;}

.nav-menu-header{border-top:none; margin-bottom:20px;z-index: 99;    position: relative;}
.nav-1 { background: #222 none repeat scroll 0 0 !important;margin:0px 0px 0px /* -28px -8px 4px */!important;width: 100% !important;}
.navbar-inverse .navbar-toggle {background-color: #222 !important;border-color: #222 !important;}
.navbar-brand{color:#fff !important;height: 40px !important; font-size: 16px !important;text-transform: uppercase !important; float:left !important;  text-align:center !important;}
.navbar-toggle {
    padding: 5px !important;
}
.im-branch-section{ text-align:center;}
.navbar-nav > li:hover > a > span::before{content:inherit !important;}
#t3-navbar {padding: 10px 0; border-bottom:1px solid #eee; background:#fff !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle {border-radius: 0 !important;  margin: 0!important;width: 100% !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1:after {content: 'MIGRATE TO' !important; color: #fff;
float: left;} 
.nav-menu-header .row{ padding:0 15px;}
.nav-menu-header .navbar-brand{ padding:0;}

#mega-menu-wrap-top .mega-menu-toggle .mega-toggle-block-1:after {
content: 'Branch Menu';
color: #fff;
float: left;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a { color:#fff !important;}
.navbar-nav > li { margin:0 !important;}
#menu-item-262 {/* margin: -13px 0 11px !important;*/}
.nav ul li a {/*width: 92px !important;*/ font-size:11px !important;margin:0 !important;padding:0 !important;}
.nav ul li a:hover {/*width: 92px !important; font-size:11px !important;*/margin:0 !important;padding:0 !important; text-align:left !important}
.icon-nav-arow {width: 25px;height: 25px;position: absolute;right: -13px;z-index: 99;top: 10px;}
 
.nav-menu-header .nav ul li a{ width:100% !important; text-align:left ;}
#mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item {   margin:0 !important;
    padding:0 0px !important;
    width: 100% !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle {border-radius: none !important;}
.carousel-inner{ height:auto;}

.coffee-icon-text {float:right !important; margin:15px 0 0 6px !important;}
.arro-testimonial {left: 5% !important;  margin: -1px 1px 0 !important;}
.client-testimonial-right {width:100% !important; padding:0 !important;}
.client-testimonial-left {width:100% !important; text-align:center !important;}
.testimonial-line { margin: 0 0 0 19px !important;}
.team-heading { margin:0 0 0 17px !important;}

.skilled-migration-list ul li {  border-right: 1px solid !important;
    font-size: 15px !important;
    margin: 1px 0 0 !important;
    padding: 11px 13px !important;
    width: 100% !important;}
.skilled-migration-list ul li a {padding: 0 !important;}
.skilled-migration-list ul li a:hover {padding: 0 !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1::before {margin: 0 0 0 77px!important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1::after {font-size: 16px !important;font-weight: 600 !important;}

input[type="reset"]{margin:11px 17px 0 23px !important;}
 .affix{ position:static !important;} 

.footer-navigation ul li {text-align: center !important;width: 100% !important;}
.myBtn-newsletter{ text-align:center;}
#myBtn { text-align:center !important; width:100% !important; /*margin:0 0 0 125px !important; */line-height:21px !important;}
.footer-navigation{margin: 5px 0 0 -6px !important;}
.footer-navigation {width: 100% !important;}

.pagination {float:left !important;}
.pagination { margin:0 !important;}
.news-img1 img { height:auto !important;}
.pune-dialog {top: 25px !important;width:93% !important;}
.close { color:#000 !important;position: relative;
    top: 0;padding:15px !important; z-index:999;
}
#main {
    position: fixed;
    top: 15% !important;
    right: 15% !important;
    left: 15% !important;
    width: auto !important;
    background: #f1eded;
    border-radius: 0px !important;
    z-index: 9999;
    padding: 0 !important;
    border: 2px solid #007aad;
}


#menu-main-menu  li ul.sub-menu{
    padding: 0;
    position: absolute;
    z-index: 99999;
	left:0;
	right:0;
}
#menu-main-menu  li ul.sub-menu li{position: relative; display: block; float: left;width: 100% }

 #menu-main-menu  li ul.sub-menu li a{   padding: 10px 9px!important;
    color: #292929;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    /* line-height: 0; */
    text-shadow: none !important;}
	.slide{ height:auto;}
	.contact-text-bold{ float:none !important;}
	.image-box{ margin-bottom:20px;}
	
	.wpcf7-submit{ margin:0 !important;}
	input[type="reset"]{padding: 6px; margin-top:0 !important}
	.contact-page{ clear:both;}
	.contact-text .box-right1{ position:relative;}
	.contact-text .box-right1:after {
    height: 40px;
    border-left: 1px dotted #999;
    position: absolute;
    content: '';
    left: 10%;
    width: 1px;
    top: 10%;
}
#newsletter .widget_wysija_cont .shortcode_wysija {
    display: inline-block;
}
#livesite_active_engage {
    position: fixed;
    bottom: 0px;
    right: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    left: 0;
}

.captha-box {
    float: none !important;
    display: inline-block;
    text-align: center;
    margin: 25px auto;
}.contact {
   	float: none;
    margin: 1px 0 0;
    width: 100%;
    clear: both;
    display: inline-block;
}
#more-form hr{ margin:0;}
.file-btn {
margin: 2px auto !important;
width: 224px!important;
text-align: center;
display: inline-block;
float: none;
}
.browse-btn {
position: relative;
right: 0;
left: 0;
}
}

@media screen and (max-width: 640px) and (orientation: landscape) {

.navbar-brand { display:block !important;}
.pune-map-page iframe{width:100%!important;}   

.nav-menu-header{ background: #222;border-top:none;    z-index: 99;    position: relative;}
.nav-1 { background: #222 none repeat scroll 0 0 !important;margin:0px 0px 4px /* -28px -8px 4px */!important;width: 100% !important;}
.navbar-inverse .navbar-toggle {background-color: #222 !important;border-color: #222 !important;}
.navbar-brand{color:#fff !important; line-height: 11px !important; height: 40px !important; font-size: 16px !important;text-transform: uppercase !important; float:left !important; width:89% !important; text-align:center !important;}
.navbar-toggle { margin: 13px 7px 0 0 !important;padding: 0 !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle {border-radius: 0 !important;  margin: 0 0 8px -15px !important;width: 110% !important;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a { color:#fff !important;}
.navbar-nav > li { margin:0 !important;}
#menu-item-262 { margin: -13px 0 11px !important;}

.top-main-menu-1{display:none !important;}
.top-mobile_menu-1{display:block !important;} 	
.main-menu{ display:none !important;}
.main-menu-1{ display:none !important;}
.mobile_menu {display:block !important;}
.mobile_menu-1 {display:block !important;}

.button-coffee {display:block !important;}
.popup-image {display:none !important;}
.popup-content {display:none !important;}

.affix{ display:none !important;}

.slide{display:block !important; height:auto;}
.carousel-inner{ height:auto;}
.button-coffee{float:left !important; text-align:center !important;}
.sticky-popup-right, .sticky-popup-left { top: 37%!important; display:none!important;}
.sticky-popup{display:none!important;}
.nodal { z-index: 999999999!important;}
.nodal__inner {height:63% !important;}
.wpcf7-text {width:96% !important;}
.wpcf7-form p { margin: 6px 0 0 0 !important;}
.wpcf7-form wpcf7-form-control { margin: 6px 0 0 0 !important;}
.test-con-1 { font-size: 13px !important;line-height:18px !important;margin: 13px 0 0 -35px !important; width: 50% !important;}
blockquote img {border: 2px solid #005ba4 !important;height: 100% !important;margin: 0 !important;width: 100% !important;}

.test1-con-1 { font-size: 12px !important;line-height:18px !important;margin: 13px 0 0 -0px !important; width: 100% !important;}
.name-testimonial img {border: 2px solid #005ba4 !important;height: 100% !important;margin: 0 !important;width: 100% !important;}

.name-testimonial {margin:-11px 7px -50px 31px !important;}
.testimonial {  background-size: cover !important;}
.test-con1 {margin: 0 0 0 112px !important;}
.test1-con1 {margin: 0 0 0 112px !important;}
.my-gov-img { float:none !important;}
.branch-img img { width:100% !important;}
.box-height {float: left;min-height: auto !important;}
.textwidget a {display: inline-block!important; margin: 0 -1px !important;}
.contact-text { text-align:center !important;}
.offset-3 {margin-left:0px !important;}
.wpcf7-text { width:100% !important;}
.navbar-nav {margin:8px 0 0 0 !important;}
.nodal .wpcf7-form p { float:left !important;}
.positive-tabs ul li { margin:2px 0px 0 !important;border-right: 1px solid !important; width: 100% !important;font-size: 11px !important;}
.pdfbox { width:100% !important;}
.fancybox { width:100% !important;}
.pdfboxtitle { width:100% !important; text-align:center !important;}
.seprator-australia img { width:100% !important;}
.list-1 {width:auto !important;}
.contact-line {width:100% !important;}
.australia-box-heading span::after {position: absolute !important;content:none !important;}
.popup-content input, textarea, select {max-width: 100% !important;}
.wpcf7-submit {margin: 1px 79px 1px 17px !important;}
.portfolioFilter a {display:block !important;}
.positive-tabs ul li {float:left !important;}
.fancybox img { width:100% !important;}
.date-visa {width: 32% !important;}
.portfolioFilter a {font-size: 15px !important;padding: 11px 15px !important}
.button-coffee { padding:0 !important;}
.scroll { bottom: 73px !important;}
.scroll { bottom: 66px !important; margin: 0 -11px 0 0 !important;}
.contact-info-heading-2 {margin:0 !important; }
.testimonials-box-text { height:auto !important;}
.sticky-popup-right, .sticky-popup-left {display:none!important;}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
}
.header-top{ height:auto;}
.bx-wrapper .bx-pager {margin: -12px 0 46px 70px !important;}
.top-list {margin: 10px 0px 0 0px !important;text-align: center !important;width: 100% !important; float:none;}
.menu-top-menubar-container {
    display: inline-block;
}
.number {margin:0px 0px 0 0 !important;}

.navbar-toggle {display: block !important;}
.menu-item-262 {margin: -13px 15px 0 !important;}
.number {font-size: 14px !important; text-align:center; float:none;}
.fa-top {padding: 10px 0 0 3px !important;}
.button-1 {margin: 0 0 15px -20px !important;width: 100% !important;}
.button-1 a {float: left !important;text-align: center !important;width: 100% !important;}
.button-2 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-2 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.button-3 {
    margin: 0 0 15px -20px !important;
    width: 100% !important;
}
.button-3 a {
    float: left !important;
    text-align: center !important;
    width: 100% !important;
}
.navbar-nav > li {
    width: 100% !important;
}
.footer-img2 {
    float: none !important;
    margin: 0 !important;
    text-align: center !important;
}
.top-list ul li {
    margin:2px !important;
}
.top-list ul li a {
    padding: 2px 5px !important;
}
.textwidget {
    text-align: center !important;
    width: 100% !important;
}
.textwidget  {
    text-align: center !important;
    width: 100% !important;
}
.read a {
    font-size: 12px;
    margin: -18px 10px 14px !important;
    padding: 5px;

    /*margin: -28px 33px 15px !important;*/
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -109px !important;
}

.circle { display: block !important;
    height: 38px !important;
    margin: 14px 2px !important;
    padding-top: 10px !important;
    width: 38px !important;}

.top-icon {float: none !important;}
.logo {text-align: center !important;width: 100% !important;  margin: 35px 0 21px 0px !important;}



/***mega menu css start here ***/
#mega-menu-item-5668
{background-color:#ed850c !important;}


#mega-menu-item-5712
{background-color:#ac0202 !important;}

#mega-menu-item-5740
{background-color:#009ad7 !important;}

#mega-menu-item-5747
{background-color:#e1023a !important;}

#mega-menu-item-5751
{background-color:#6ca100 !important;}

#mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item > a.mega-menu-link:focus
{background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; }


/***mega menu css end here ***/

.navbar-brand { display:block !important;}

.nav-menu-header{ background: #222;border-top:none;    z-index: 99;    position: relative;}
.nav-1 { background: #222 none repeat scroll 0 0 !important;margin: 0px 0px 4px 0 !important;width: 100% !important;}
.navbar-inverse .navbar-toggle {background-color: #222 !important;border-color: #222 !important;}
.navbar-brand{color:#fff !important; line-height: 11px !important; height: 40px !important; font-size: 16px !important;text-transform: uppercase !important; float:left !important; width:89% !important; text-align:center !important;}
.navbar-toggle { margin: 13px 7px 0 0 !important;padding: 0 !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle {border-radius: 0 !important;  margin: 0 0 8px -15px !important;width: 106% !important;}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a { color:#fff !important;}
.navbar-nav > li { margin:0 !important;}
#menu-item-262 { margin: -13px 0 11px !important;}
.nav ul li a {width: 92px !important; font-size:11px !important;margin:0 !important;padding:0 !important;}
.nav ul li a:hover {width: 92px !important; font-size:11px !important;margin:0 !important;padding:0 !important;}
#mega-menu-wrap-mobile_menu #mega-menu-mobile_menu > li.mega-menu-item {margin:0px 0 0 0px !important;width: 100% !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle {border-radius: none !important;}
.pune-dialog {width: 400px;top: 25px;margin: 0 auto;}
.coffee-icon-text {float:right !important; margin:15px 0 0 6px !important;}
.arro-testimonial {left: 5% !important;  margin: -1px 1px 0 !important;}
.client-testimonial-right {width:100% !important; padding:0 !important;}
.client-testimonial-left {width:100% !important; text-align:center !important;}
.testimonial-line { margin: 0 0 0 19px !important;}
.team-heading { margin:0 0 0 17px !important;}

.skilled-migration-list ul li {  border-right: 1px solid !important;
    font-size: 15px !important;
    margin: 1px 0 0 !important;
    padding: 11px 13px !important;
    width: 100% !important;}
.skilled-migration-list ul li a {padding: 0 !important;}
.skilled-migration-list ul li a:hover {padding: 0 !important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1::before {margin: 0 0 0 200px!important;}
#mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1::after {font-size: 16px !important;font-weight: 600 !important;}
.footer-navigation{ width:100%;}	

.slide{ height:auto;}
.image-box{ margin-bottom:20px;}
#main {
    position: fixed;
    top: 15% !important;
    right: 15% !important;
    left: 15% !important;
    width: auto !important;
    background: #f1eded;
    border-radius: 0px !important;
    z-index: 9999;
    padding: 0 !important;
    border: 2px solid #007aad;
}


#menu-main-menu  li ul.sub-menu{
    padding: 0;
    position: absolute;
    z-index: 99999;
	left:0;
	right:0;
}
#menu-main-menu  li ul.sub-menu li{position: relative; display: block; float: left;width: 100% }

 #menu-main-menu  li ul.sub-menu li a{   padding: 10px 9px!important;
    color: #292929;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    /* line-height: 0; */
    text-shadow: none !important;}
	.slide{ height:auto;}
	.contact-text-bold{ float:none !important;}
	.image-box{ margin-bottom:20px;}
	
	.wpcf7-submit{ margin:0 !important;}
	input[type="reset"]{padding: 6px; margin-top:0 !important}
	.contact-page{ clear:both;}
	#newsletter .widget_wysija_cont .shortcode_wysija {
    display: inline-block;
}
#livesite_active_engage {
    position: fixed;
    bottom: 0px;
    right: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    left: 0;
}
.captha-box {
    float: none !important;
    display: inline-block;
    text-align: center;
    margin: 25px auto;
}.contact {
   	float: none;
    margin: 1px 0 0;
    width: 100%;
    clear: both;
    display: inline-block;
}
#more-form hr{ margin:0;}
.file-btn {
margin: 2px auto !important;
width: 224px!important;
text-align: center;
display: inline-block;
float: none;
}
.browse-btn {
position: relative;
right: 0;
left: 0;
}
}


@media screen and (max-width: 768px) {

  .nodal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
  .footer-img a img {
    margin-top: -14px;
    margin-bottom: 9px;}
  .pune-map-page iframe{width:100%!important;}   
  .slide{ height:auto;}
	.image-box{ margin-bottom:20px;}
#main {
    position: fixed;
    top: 15% !important;
    right: 15% !important;
    left: 15% !important;
    width: auto !important;
    background: #f1eded;
    border-radius: 0px !important;
    z-index: 9999;
    padding: 0 !important;
    border: 2px solid #007aad;
}


#menu-main-menu  li ul.sub-menu{
    padding: 0;
    position: absolute;
    z-index: 99999;
	left:0;
	right:0;
}
#menu-main-menu  li ul.sub-menu li{position: relative; display: block; float: left;width: 100% }

 #menu-main-menu  li ul.sub-menu li a{   padding: 10px 9px!important;
    color: #292929;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    /* line-height: 0; */
    text-shadow: none !important;}
	.slide{ height:auto;}
	.contact-text-bold{ float:none !important;}
	.image-box{ margin-bottom:20px;}
	
	.wpcf7-submit{ margin:0 !important;}
	input[type="reset"]{padding: 6px; margin-top:8px!important; margin-left:52px!important;}
    .kamal-channi{position: absolute;
    bottom: -13px;
    left: 33%;
    font-size: 9.5px;}
	.contact-page{ clear:both;}
	#newsletter .widget_wysija_cont .shortcode_wysija {
    display: inline-block;
}

#livesite_active_engage {
    position: fixed;
    bottom: 0px;
    right: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    left: 0;
}
.captha-box {
    float: none !important;
    display: inline-block;
    text-align: center;
    margin: 25px auto;
} 
#more-form hr{ margin:0;}
.contact {
   	float: none;
    margin: 1px 0 0;
    width: 100%;
    clear: both;
    display: inline-block;
}
.file-btn {
margin: 2px auto !important;
width: 224px!important;
text-align: center;
display: inline-block;
float: none;
}
.browse-btn {
position: relative;
right: 0;
left: 0;
}
}


@media (max-width: 480px){
    #newsletter .text-center {
        height: auto !important;
    }
    input#es_txt_button {
        position: static !important;
        width: auto !important;
        padding: 14px 10px;
    }
    form.es_widget_form .es_button {
        position: absolute;
        right: 0;
        padding: 0;
        z-index: 999;
        top: 22px;
    }
    form.es_widget_form {
        position: relative;
    }
    small.kamal-channi {font-size: 13.5px;left: 25%;bottom: -20px;}
    .footer-img {
        margin-bottom: 30px;
    }
    .footer-top {
        padding-bottom: 85px;
    }
    a.scroll {
        bottom: 97px !important;
    }
    .circle {
        padding-top: 7px !important;
    }
    .contact-text .box-right1 {
        width: 60%;
    }
    .contact-text .box-left {
        width: 39%;
    }
    .box-left.test-footer {
        margin-top: 0 !important;
    }
    a.contact-text-bold {
        margin-left: 0 !important;
    }
    .col-md-4.col-sm-4.col-xs-12 {
        text-align: center;
    }
    .contact-line {
        width: 80px !important;
        margin-top: 10px;
    }
    a.contact-text-bold {
        margin-left: 0 !important;
    }
    .box-left.test-footer {
        margin-top: 0 !important;
    }

    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: -60px !important;
    }
    .read a {
        margin: 0 !important;
        float: none !important;
        position: static !important;
        font-size: 14px;
        padding: 10px 10px;
    }
    .read {
        text-align: center;
        margin-bottom: 40px;
    }
    .bx-wrapper {
        margin-bottom: 50px;
    }
    .testimonial-main {
        background: none !important;
        float: none;
        text-align: center;
    }
    .testimonials-line2 {
        margin: 10px auto 0;
    }
    .test-heading {
        text-align: center;
        margin-left: 0;
    }
    .name-testimonial {
        margin: 0 auto!important;
    }
    .name-testimonial img {
        border: 2px solid #005ba4 !important;
        height: 100% !important;
        margin: 0 !important;
        width: 100% !important;
    }
    .test-con1 {
        margin: 5px 0 5px !important;
        text-align: center;
    }
    .bx-pager.bx-default-pager {
        bottom: -71px !important;
    }
    #mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-right {
        float: none !important;
        text-align: center;
    }
    #mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1:after {
        padding-left: 118px;
    }
    .contact-text .box-right1:after {
        display: none !important;
    }
    .box-cont .box-right {
        width: 60% !important;
    }
    .footer-navigation ul li {
        float: none !important;
        border-right: 0 !important;
    }
    .footer-navigation {
        margin: 10px 0 5px !important;
    }
    .image-box {
        padding: 0 !important;
    }
    .skilled-con ul {
	    padding: 0;
	    list-style: none;
	}
	.team-img {
	    float: none;
	    padding: 15px;
	    width: 100%;
	    text-align: center;
	}
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {margin: 0 auto;}
	.team-con-box {
	    float: none;
	    padding: 15px;
	    width: 100%;
	}
	.client-testimonial-left img {
	    width: 60%;
	    border-radius: 30px;
	}
	.client-testimonial-left {
	    margin-bottom: 25px;
	}
	.client-testimonial-box {
		padding: 25px 10px;
	}
	.entry ul, .entry ol {
	    padding: 0;
	    list-style: none;
	    margin: 0;
	}
	#accordions-281 .accordions-head-title,
	.accordions .accordions-head-title {
	    padding: 0 0 0 10px;
	    max-width: calc(100% - 25px);
	    display: inline-block;
	}
	.pte-form {
	    margin-bottom: 35px;
	}
	#mega-menu-wrap-mobile_main_menu #mega-menu-mobile_main_menu > li.mega-menu-item > a.mega-menu-link {
		text-transform: uppercase !important;
	}
	.client-testimonial-right > span {
	    float: left !important;
	}
	#readmorelink {
	    float: right;
	    margin-top: 30px;
	    padding-right: 20px;
	    text-transform: capitalize;
	}
	.contact-info {
	    margin-top: 20px;
	}
	.col-md-3.control-level {
	    padding: 7px 0 0;
	}
	form.wpcf7-form .col-md-9 {
	    padding: 0;
	}
	form.wpcf7-form input[type="reset"] {
	    padding: 6px;
	    margin: 0 auto !important;
	    margin-top: 5px!important;
	    float: none !important;
	    display: block !important;
	}
	div.wpcf7 img.ajax-loader,
	form.wpcf7-form p img {
	    float: none !important;
	}
	/* .contact-text br {
	    display: none !important;
	} */
	.entry > .col-md-12 {
	    padding: 0;
	}
	.currency {
	    text-align: left !important;
	    padding: 20px !important;
	    height: auto !important;
	}
	.bg-inner-2 {
	    float: none !important;
	    margin-top: 20px !important;
	}
	.nav-menu-header {
	    float: none !important;
	    margin-top: 10px !important;
	}
	.currency > span {
	    line-height: normal !important;
	    display: block !important;
	}
	a.makepayment {
	    float: none !important;
	    margin: 0 !important;
	    font-size: 12px;
	    padding: 10px 20px;
	    display: inline-block;
	    margin-top: 10px !important;
	}
	img.align-1 {
	    float: none !important;
	    margin: 0px auto !important;
	    display: block;
	    width: 120px;
	}
	.entry .col-md-12 .col-md-3 {
	    border: 0 !important;
	    border-bottom: 1px solid #000 !important;
	}
	.contact-line {
	    margin: 10px auto 0 !important;
	}
	a.link-1 {
	    float: none !important;
	}
	.entry p {
	    text-align: left !important;
	}
	.news-banner-title {
	    text-align: center !important;
	    background-color: rgba(0,0,0,0.5);
	}
	.Search-country-options p {
	    margin-right: 0;
	    float: none !important;
	}
	.Search-country-options select {
	    width: 100% !important;
	    padding: 10px !important;
	    margin: 0 !important;
	}
	.news-box {
	    float: none !important;
	    margin-bottom: 30px;
	    padding-bottom: 20px;
	}
	.news-img {
	    float: none !important;
	    width: 100% !important;
	    margin: 0 0 15px !important;
	}
	.hovereffect {
	    float: none !important;
	}
	.news-heading {margin-bottom: 10px;}
	.news-box hr {
	    margin-top: 0 !important;
	}
	.news-read-more {
	    float: none !important;
	    display: inline-block;
	    margin-top: 20px;
	    font-size: 14px;
	}
	.news-like {
	    float: none !important;
	    margin: 0 !important;
	}
	#accordions-281 .accordions-head,
	#accordions-268 .accordions-head {
	    border: 0 !important;
	    margin: 10px 0 0;
	    outline: none !important;
	}
	#accordions-281 .accordion-icons,
	.accordion-icons {
	    color: #fff !important;
	}
	.accordion-content p {
	    margin: 0;
	    text-align: left !important;
	    font-size: 13px;
	    line-height: 16px;
	}
	.entry .col-md-7,.entry .col-md-5 {
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	}
	.pte-form {
	    padding: 20px;
	}
	.entry .col-md-8.col-sm-8.col-xs-12 + .row {
	    margin: 0 !important;
	}
	.list-1 span {
	    font-size: 11px;
	}
	.contact-title {
	    font-size: 18px;
	    padding-top: 0;
	    padding-bottom: 10px;
	}
	.side-bar-migration-list ul li {
	    font-size: 13px;
	}
	.entry table.table.table-bordered.table-striped {
	    font-size: 11px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	    width: 100% !important;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	    padding: 6px 5px;
	}
	.skilled-con table td, .skilled-con table tr {
	    height: auto !important;
	}
	.skilled-con table td {
	    padding: 10px 0!important;
	    font-size: 13px;
	}
	.skilled-con table {
	    display: block !important;
	    width: 100% !important;
	}
	.skilled-con table tbody {
	    display: block;
	    width: 100% !important;
	}
	.tablesorter {
	    margin: 0 !important;
	}
	div#datatable > label {
	    display: block;
	}
	form.form-inline {
	    margin: 0 0 10px !important;
	}
	.tablesorter > label {
	    display: block;
	}
	table#myTable {
	    margin-bottom: 30px !important;
	}
	.skilled-con {
	    text-align: left !important;
	}
	body.page.page-id-767 .skilled-con table tbody,
	body.page-id-5316 .skilled-con table tbody {
	    display: table-row-group !important;
	}
	.australia-inner-box {
	    float: none !important;
	}
	.nodal .wpcf7-form p {
	    float: none !important;
	}
	.page-id-594 .positive-skill {
	    background-size: initial;
	}
	.page-id-594 .blog-bg-title {	    
		font-size: 20px;
	}
	.isotope .isotope-item img {
	    width: 100%;
	    max-width: 100%;
	    height: auto;
	}
	.isotope .isotope-item {
	    margin-bottom: 25px;
	}
	.isotope .isotope-item {
	    position: static !important;
	    transform: none !important;
	}
}

@media (max-width: 320px) {
	.number {
    	font-size: 14px !important;
    }
    #mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1::before {
	    margin: 0 0 0 60px!important;
	}
	#mega-menu-wrap-mobile_menu .mega-menu-toggle .mega-toggle-block-1:after {
	    padding-left: 106px;
	    font-size: 14px !important;
	}
	.testimonials-box {
	    margin: 0 0 10px;
	}
	.branch-text {
	    width: 50%;
	}
	.button-img {
	    margin: 39px 0 0 0;
	    width: 35%;
	}
	.branch-button {
	    width: auto;
	    padding: 10px 6px;
	    font-size: 11px;
	}
	img.view-shado {
	    display: none !important;
	}
	.why-us-box-heading {
	    font-size: 14px;
	}
	#newsletter input[type="text"] {
	    height: 36px;
	    min-width: auto !important;
	    width: 100%;
	    max-width: 190px;
	}
	input#es_txt_button {
	    width: auto !important;
	    padding: 8px 10px;
	    font-size: 14px;
	}
	form.es_widget_form .es_button {
	    top: 23px;
	}
	.contact-title {
	    font-size: 16px;
	    padding: 10px;
	}
	.list-1 span {
	    font-size: 11px;
	}
	.side-bar-migration-list ul li {
	    text-align: left !important;
	    font-size: 13px;
	}
	#newsletter .text-center h3 {
	    font-size: 20px;
	}
	.footer-icon {
	    margin-top: 10px;
	}
	.circle {
	    margin-top: 0 !important;
	}	
	.box-cont .box-right,
	.contact-text .box-right1 {
	    padding: 0;
	}
}